*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins';
}

.nav{
    position: fixed;
    width: 80%;
    transform: translateY(40%) translateX(12%);
    border-radius: 100px;
    margin: auto;
    display: flex;
    height: 9vh;
    background-color: rgba(255, 255, 0, 0.358) ;
    backdrop-filter: blur(10px);
    justify-content: space-evenly;
    align-items: center;
}
.logo{
    position: relative;
    left: 5vw;
}
.nav-right{
    position: relative;
    right: 2vw;
    display: flex;
    gap: 2vw;
    list-style-type: none;
}

.nav-right li{
    font-family: 'Poppins';
    border: 0px solid white;
    padding: 0.5vw;
    background-color:;
    transition: all 150ms ease;
    font-weight: 450;
    transform: scale(1.15);
    border-radius: 100px;
}
.nav-right li:hover{
    color: white;
    transform: scale(1.1);
    background-color: orange;
}

.lander{
    background-color: #222831;
    height: 100vh;
    width: 100%;
}

.background {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    z-index: 0;
  }